<h1>Orders for <%=@student.first_name%> <%=@student.last_name%></h1>

<%= link_to 'Back', current_user %>


<table class="table table-striped">
  <thead>
  <tr>
    <th>Month</th>
  </tr>
  </thead>

  <tbody>
  <% @months.each do |month| %>
      <tr>
        <td> <%= link_to "#{month}", student_path(@student, :month => Date::MONTHNAMES.index(month)), class: "btn btn-lg btn-primary"  %> </td>
      </tr>
  <% end %>
  </tbody>
</table>

