<%= form_for([@student, @order]) do |f| %>

    <div id="order-date-select">
      <%= date_select :order, :order_date, {}, :onchange => "loadMenu()" %>
    </div>

    <div class="menu-info">
      <%= render 'menu_info' %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>