
<% unless @menu.blank? %>

<% @menu.items.each do |menu_item| %>
    <div>
      <%= check_box_tag "order[item_ids][]", menu_item.id, @order.items.include?(menu_item) %>
      <%= menu_item.name %>
    </div>
<% end %>

<% end %>